table{
    border-color: rgb(238, 228, 228);
}
#a3{
    background-color: #007aff;
    width: 20px;
    color: #007aff;
    display: inline-block;
    margin: 0 0 0 0;
    border-radius: 6px;
}
#a1{
    font-weight: 900;
    color: rgb(138, 134, 134);
    margin: 0 0 0 10px;
}
#a2{
    color: rgb(156, 152, 152);
    margin: 0 0 0 300px;
}
#a4{
    margin: 0 0 0 10px;
}
